<div class="uk-text-center uk-card uk-card-default uk-card-body">
    <h1>Welcome to the Sample App</h1>

    <h2 class="uk-card-title">
        This is the home page for the 
        <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a> 
        sample application.
    </h2>

    <%= link_to "Sign up now!", '#', class: "uk-button uk-button-large uk-button-primary" %>
</div>
